<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>找回密码</title>
		<link type="text/css" rel="stylesheet" href="css/index.css">
		<link type="text/css" rel="stylesheet" href="css/font-awesome.min.css">
		<link type="text/css" rel="stylesheet" href="css/common.css">
	</head>
	<body>
		<div id="app">
			<div class="banner_title">
				<i class="lw_sign"></i>
				<span class="banner_text">找回密码</span>
				<div class="admin_out">
					<i class="checkout_icon"></i>退出
				</div>
			</div>
			<el-steps :space="100" :active="active" finish-status="success">
			  <el-step title="找回方式"></el-step>
			  <el-step title="验证"></el-step>
			  <el-step title="密码重设"></el-step>
			</el-steps>
			<div class="find_part">			
				<div v-if="this.active===2">
					<div class="find_frame_part">
						<p class="find_text">新密码</p>
						<div class="el-input el-input-group">
							<input autocomplete="off" placeholder="输入不小于6位的新密码" type="password"  validateevent="true" class="el-input__inner" v-model="newPwd" :class=[{"has-error":pwdErrorStatus}]>
							<span class="has-error-text" v-if="pwdErrorStatus">{{pwdErrorText}}</span>
						</div>
						<p class="find_text">再次输入新密码</p>
						<div class="el-input el-input-group el-input-group--append">
							<input autocomplete="off" placeholder="再次输入相同的密码" type="password"  validateevent="true" class="el-input__inner" v-model="confirmPwd">
						</div>	
						<div class="edit_part">
							<el-button type="primary" style="margin-top: 12px;" @click="mailConfirmPwd" v-loading.fullscreen.lock="fullscreenLoading">完成</el-button>
						</div>						
					</div>	
				</div>
				<div v-if="this.active===3">
				</div>
			</div>
		</div>
		<script src="js/vue.js"></script> 		
		<script src="js/axios.js"></script>
		<script src="js/index.js"></script>	
		<script src="js/mailConfirm.js"></script>
	</body>
</html>
